.services h2 {
    margin-bottom: 5rem;
    font-size: 4.5rem;
    font-weight: 600;
    text-align: center;
}

.services-box h3 {
    font-size: 2.6rem;
}

.services-content {
    display: flex;
    align-items: stretch;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 2rem;
}

.services-box {
    font-size: 1.5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: 3rem;
}



.services-content .services-box {
    flex: 1 1 30rem;
    background: var(--second-bg-color);
    padding: 1rem 2rem 4rem;
    border-radius: 1rem;
    text-align: center;
    transition: .5s ease-in-out;
}


.services-content .services-box:hover {
    transform: matrix3d(1.05, 0, 0, 0, 0, 1.05, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
    border: .3rem solid var(--main-color);
}

.services-content .services-box p {
    margin-bottom: 2rem;
    min-width: 40vh;
}
.services-content .services-box i {
    font-size: 5rem;
    color: var(--main-colors);
}


