.header {
    background: var(--bg-color);
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    padding: 2rem 9%;
    width: 100%;
    z-index: 999;
}
a{
    color: var(--text-color);
}

.navbar a{
    font-size: 1.7rem;
    font-weight: 600;
    margin-left: 4rem;
}
.header button{
    font-size: 1.7rem;
    font-weight: 600;
    margin-left: 4rem;
    margin-left: 10rem;
    color: var(--text-color);
    border-radius: 25rem 0 25rem 0;
    box-shadow: 0 0 1rem var(--main-color);
    transition: .5s ease;
}

.navbar button:hover {
    box-shadow: none;
    transform: matrix3d(1.05, 0, 0, 0, 0, 1.05, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);   
  }
.navbar a:hover,
.navbar a.active{
    color: var(--main-color);
}


.logo {
    cursor: default;
    font-weight: 600;
    font-size: 2.5rem;
}
.header i{
    display: none;
}
.dark-mode-button {
    background: var(--main-color);
    color: var(--text-color);
    border: none;
    padding: 8px 16px;
    cursor: pointer;
  }
  

@media (max-width:1200px){
    .navbar{
        position: absolute;
        top: 100%;
        left: 0;
        width: 100%;
        background: var(--bg-color);
        display: none;
    }
    .navbar a{
        display: block;
        font-size: 2rem;
        padding: 0.5rem 0;
        margin-left: 10vw;
    }

    button{
        display: flex;
        font-size: 1.5rem;
        margin-left: 0;
    }
    .header i{
        display: flex;
        display: block;
        font-size: 3rem;
        cursor: pointer;
    }

    .navbar.active {
        display: block;
    }
}
