.header {
    background: var(--bg-color);
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    padding: 2rem 9%;
    width: 100%;
    z-index: 999;
}
a{
    color: var(--text-color);
}

.navbar a{
    font-size: 1.7rem;
    font-weight: 600;
    margin-left: 4rem;
}

.navbar a:hover,
.navbar a.active{
    color: var(--main-color);
}


.logo {
    cursor: default;
    font-weight: 600;
    font-size: 2.5rem;
}
.header i{
    display: none;
}

@media (max-width:1200px){
    .navbar{
        position: absolute;
        top: 100%;
        left: 0;
        width: 100%;
        background: var(--bg-color);
        display: none;
    }
    .navbar a{
        display: block;
        font-size: 2rem;
        padding: 0.5rem 0;
        margin-left: 10vw;

    }
    .header i{
        display: flex;
        display: block;
        font-size: 3rem;
        cursor: pointer;
    }

    .navbar.active {
        display: block;
    }
}
