.footer{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem 4rem;
}

.footer-text {
    font-size: 1.6rem;
}

.footer-iconTop a{
    display: inline-flex;
    font-size: 3rem;
    justify-content: center;
    align-items: center;
    width: 4rem;
    height: 4rem;
    background-color: var(--main-color);
    color: var(--bg-color);
}